{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
{% include "header.html" %}

  <form action="" method="POST">
    <div class="row">
      <div class="col-sm-3">
        {{form.hidden_tag()}} <!-- important tag-->
        {{ form.area }}{{ form.submit }}
      </div>
      <div class='col-sm-3 ah'><a href="{{url_for('cover')}}">Home</a></div>
      <div class='col-sm-3 ah'><a href="{{url_for('cover')}}">Remaining</a></div>
      <div class='col-sm-3 ah'><a href="{{url_for('cover_done')}}">Done</a></div>
    </div>
  </form>


  {% for i in html : %}
  {% if i.invitation_completed %}
    <div class="row">
      <div class="col-sm-3">{{ i.name }}</div>
      <div class="col-sm-3">{{ i.address }}</div>
      {% if i.dress %}
          <div class="col-sm-3"><img src="{{ url_for('static', filename='hawaiian-shirt.png')}}" alt=""></div>
      {% else %}
          <div class="col-sm-3"><p>---</p></div>
      {% endif %}
      <div class="col-sm-3"><a href="{{url_for('remaining', invitee_id=i.id, area=i.address)}}">Remaining</a></div>
    </div>
  {% endif %}
  {% endfor %}

{% include "footer.html" %}
{% endblock %}